<%- include('layout/header.ejs')%>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Brands</h2>
                    <p>Add, edit or delete a Brand</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <% if(locals.message) { %>
                    <div class="error1 alert alert-danger w-75"><%= locals.message %></div>
                <% } %>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" id="bform" action="/admin/brand" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="bname" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="bname" name="bname">
                                    <p class="perror mb-2" id="error1" style="display: none;"></p>
                                </div>
                                <div class="mb-4">
                                    <label for="status" class="form-label">Status</label>
                                    <select name="status" class="form-control" id="status" name="status">
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                        <div>
                                            <label for="img1"> Image</label>
                                            <input type="file" id="bimage" name="bimage" class="form-control" accept="image/*">
                                            <br>
                                            <img id="imagePreview" src="#" alt="Preview" style="display: none;  max-width: 100px; max-height: 100px;">
                                            <p class="perror mb-2" id="error2" style="display: none;"></p>
                                        </div>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create Brand</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Listed</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <% if(locals.bData) {for (var i = 0; i < locals.bData.length; i++) { %>
                                        <tr>
                                            <th><img src='/images/<%= locals.bData[i].image %>' style="width: 80px; height: 30px;"></th>
                                            <th><%= locals.bData[i].brandname  %></th>
                                            <% if(locals.bData[i].status === 1) { %>
                                                <td><span class="badge rounded-pill alert-success">Active</span></td>
                                            <% }else{ %>
                                                <td><span class="badge rounded-pill alert-success">Inactive</span></td>
                                            <% } %>
                                            <% if(locals.bData[i].isListed == 0) { %>
                                                <td><span class="badge rounded-pill alert-success ">Listed</span></td>
                                            <% }else{ %>
                                                <td><span class="badge rounded-pill alert-success ">Unlisted</span></td>
                                            <% } %>
                                            <td class="text-end">
                                                <a class="dropdown-item" href="/admin/editBrand?id=<%= locals.bData[i]._id  %>">Edit</a>
                                                <% if(locals.bData[i].isListed === 0) { %>
                                                    <a class="dropdown-item text-danger" href="#">Unlist</a>
                                                <% }else{ %>
                                                    <a class="dropdown-item text-safe" href="#">List</a>
                                                <% } %>  
                                            </td>
                                        </tr>
                                        <% } } %>
                                    </thead>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->

<%- include('layout/footer.ejs') %>


<script>

const bname = document.getElementById('bname')
const bimage = document.getElementById('bimage')
const bform = document.getElementById('bform')
const error1 = document.getElementById('error1')
const error2 = document.getElementById('error2')

function notnull(data)
{
    if(data.trim()==="")
    {
        error1.innerHTML = "Please Enter Brand Name."
        error1.style.display = "block"
    }else if (data.trim().length === 0) {
        error1.innerHTML = "Brand Name cannot be just whitespace.";
        error1.style.display = "block";
    } 
    else{
        error1.innerHTML = ""
        error1.style.display = "none"
    }
}

function imgval(data)
{
    if(data.length === 0)
    {
        error2.innerHTML = "Please Select an Image."
        error2.style.display = "block"
    }
    else if(!data[0].type.startsWith('image/'))
    {
        error2.innerHTML = "Please Select Image files Only."
        error2.style.display = "block"
    }
    else{
        error2.innerHTML = ""
        error2.style.display = "none"
    }
}

bname.addEventListener('keyup',()=>{
    const cdata = bname.value
    notnull(cdata)
})
bname.addEventListener('blur',()=>{
    const cdata = bname.value
    notnull(cdata)
})

bimage.addEventListener('change',()=>{
    const i1data = bimage.files
    imgval(i1data)
})

bform.addEventListener('submit',(e)=>{

    const cdata = bname.value
    const i1data = bimage.files

    imgval(i1data)
    notnull(cdata)

    if(error1.innerHTML !== "" || error2.innerHTML !== "" )
    {
        e.preventDefault()
    }
})


document.getElementById('bimage').addEventListener('change', function(event) {
    console.log('Yoooo');
    const file = event.target.files[0];
    const imagePreview = document.getElementById('imagePreview');

    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            imagePreview.src = e.target.result;
            imagePreview.style.display = 'block';
        };
        reader.readAsDataURL(file);
    }
});

</script>
