<%- include('layout/header.ejs')%>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <% if(locals.message) { %>
                    <div class="error1 alert alert-danger w-75"><%= locals.message %></div>
                <% } %>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" id="catform" action="/admin/category" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="catName" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="catName" name="catName">
                                    <p class="perror mb-2" id="error1" style="display: none;"></p>
                                </div>
                                <div class="mb-4">
                                    <label for="status" class="form-label">Status</label>
                                    <select name="status" class="form-control" id="status" name="status">
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                        <div>
                                            <label for="img1"> Image</label>
                                            <input type="file" id="catimage" name="catimage" class="form-control" accept="image/*">
                                            <br>
                                            <img id="imagePreview" src="#" alt="Preview" style="display: none;  max-width: 100px; max-height: 100px;">
                                            <p class="perror mb-2" id="error2" style="display: none;"></p>
                                        </div>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Listed</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <% if(locals.catdet) {for (var i = 0; i < locals.catdet.length; i++) { %>
                                        <tr>
                                            <th><img src="/images/<%= locals.catdet[i].image  %>" style="height:50px; width:50px"></th>
                                            <th><%= locals.catdet[i].categoryname  %></th>
                                            <% if(locals.catdet[i].status === 1) { %>
                                                <td><span class="badge rounded-pill alert-success">Active</span></td>
                                            <% }else{ %>
                                                <td><span class="badge rounded-pill alert-success">Inctive</span></td>
                                            <% } %>
                                            <% if(locals.catdet[i].isListed == 0) { %>
                                                <td><span class="badge rounded-pill alert-success ">Listed</span></td>
                                            <% }else{ %>
                                                <td><span class="badge rounded-pill alert-success ">Unlisted</span></td>
                                            <% } %>
                                            <td class="text-end">
                                                <a class="dropdown-item" href="/admin/editCategory?id=<%= locals.catdet[i]._id  %>">Edit</a>
                                                <% if(locals.catdet[i].isListed === 0) { %>
                                                    <button class="btn btn-sm btn-brand rounded font-sm mt-15 unlistbtn"  data-uid="<%= locals.catdet[i]._id%>">Unlist</button>
                                                <% }else{ %>
                                                    <button class="btn btn-sm btn-brand rounded font-sm mt-15 listbtn"  data-uid="<%= locals.catdet[i]._id%>">List</button>
                                                <% } %>  
                                            </td>
                                        </tr>
                                        <% } } %>
                                    </thead>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->

<%- include('layout/footer.ejs') %>



<script src="/public/js/category.js"></script>
<script src="/public/js/listUnlist.js"></script>
