<%- include ('layout/header.ejs')%>

<section class="content-main 1">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>
                <form method="post" action="/admin/products" id="addProductForm" enctype="multipart/form-data">
                            <div>
                                <button class="btn btn-md rounded font-sm hover-up" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="productname" class="form-label">Product Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="productname" name="productname">
                                    <p class="perror mb-2" id="productNameError" style="display: none; color: red;"></p>
                                </div>
                                <div class="row gx-3">
                                    <div class="col-md-4 mb-3">
                                        <label for="size" class="form-label">Size</label>
                                        <select class="form-select" id="size" name="size">
                                            <option value="">Select Size</option>
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="XXL">XXL</option>
                                        </select>
                                    <p class="perror mb-2" id="sizeError" style="display: none; color: red;"></p>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="color" class="form-label">Color</label>
                                        <select class="form-select" id="color" name="color">
                                            <option value="">Select Color</option>
                                            <option value="Red">Red</option>
                                            <option value="Blue">Blue</option>
                                            <option value="Green">Green</option>
                                            <option value="Yellow">Yellow</option>
                                        </select>
                                        <p class="perror mb-2" id="colorError" style="display: none; color: red;"></p>
                                    </div>
                                    <div class="col-md-4  mb-3">
                                        <label for="stock" class="form-label">Stock</label>
                                        <input type="number" placeholder="Type here" class="form-control" id="stock" name="stock">
                                        <p class="perror mb-2" id="stockerr" style="display: none; color: red;"></p>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="brandname" class="form-label">Brand</label>
                                    <select name="brandname" class="form-control" id="brandname">
                                        <option value="">Select Brand</option>
                                        <% if(locals.brand) { for(let i = 0 ; i < locals.brand.length ; i ++) { %>
                                        <option value="<%= locals.brand[i]._id %>"><%= locals.brand[i].brandname %></option>
                                        <% } } %>
                                    </select>
                                    <p class="perror mb-2" id="brandError" style="display: none; color: red;"></p>
                                </div>
                            </div>
                        </div> <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label for="description" class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" id="description" name="description"></textarea>
                                    <p class="perror mb-2" id="descError" style="display: none; color: red;"></p>
                                
                                </div>
                            </div>
                        </div> <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label for="mainimage">Main Image</label>
                                    <input type="file" id="mainimage" name="mainimage" class="form-control" >
                                    <div class="row mb-2" id="imagePreview"></div>
                                    <p class="perror mb-2" id="error6" style="display: none; color: red;"></p>
                                    <br>
                                    <label for="imgs">Image</label>
                                    <input type="file" id="imgs" name="imgs" class="form-control"  multiple>
                                    <div class="row mb-8" id="imagePreviews"></div>
                                    <p class="perror mb-2" id="error7" style="display: none; color: red;"></p>
                                </div>
                            </div>
                        </div> <!-- card end// -->
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label class="form-label">Price</label>
                                    <input type="number" placeholder="Type here" class="form-control" id="price" name="price">
                                    <p class="perror mb-2" id="priceError" style="display: none; color: red;"></p>
                                </div>
                                <div class="mb-4">
                                    <label for="procategory" class="form-label">Category</label>
                                    <select name="procategory" class="form-control" id="procategory">
                                        <option value="">Select Category</option>
                                        <% if(locals.category) { for(let i = 0 ; i < locals.category.length ; i ++) { %>
                                            <option value="<%= locals.category[i]._id %>"><%= locals.category[i].categoryname %></option>
                                            <% } } %>
                                    </select>        
                                    <p class="perror mb-2" id="catError" style="display: none; color: red;"></p>                                    
                                </div>
                            </div>
                        </div> <!-- card end// -->
                    </div>
                </form>
    </div>
</section>


        <section class="content-main 2">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products grid</h2>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                        <div class="row product d-flex  gap-5 ps-5">
                        <% if(locals.products) { for(let i = 0 ; i < locals.products.length ; i++) { %>
                            <% let desc = locals.products[i].description.split('.')[0] %>
                            <% let pname = locals.products[i].productname.split(' ')[0] %>
                                <div class="card my-4 col-md-3">
                                    <a href=""><img src="/images/<%= locals.products[i].mainimage %>" class="card-img-top" style="aspect-ratio:1/1;" alt="..."></a>
                                    <div class="card-body">
                                      <h5 class="card-title cardhead"><%= pname %></h5>
                                      <div class="carddesc"><p class="card-text"><%= desc %></p></div>
                                      <br>
                                      <div class="cardprice mb-4"><div><a href="/admin/editProduct?id=<%= locals.products[i]._id %>">Edit</a></div>
                                      <% if(locals.products[i].isBlocked === 0) { %>
                                        <div><button class="btn btn-sm btn-brand rounded font-sm mt-15 unlistbtn"  data-uid="<%= locals.products[i]._id%>">Unlist</button></div>
                                      <%} else { %>
                                        <div><button class="btn btn-sm btn-brand rounded font-sm mt-15 listbtn"  data-uid="<%= locals.products[i]._id%>">List</button></div>
                                      <% } %>
                                    </div>
                                      <% if(locals.products[i].stock === 0) { %>
                                        <div class="stockbadge1">Out of Stock</div>
                                    <% } else {%>
                                        <div class="stockbadge2">Stock : <%= locals.products[i].stock %></div>
                                    <% } %>
                                    </div>
                                    
                                </div>
                                <% } }else{ %>
                                    <h4>No Products to Show</h4>
                                <% } %>
                            </div>
                    <!-- </div>  -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>
        
<script src="/public/js/product.js"></script>
<script src="/public/js/productListUnlist.js"></script>


<%- include('layout/footer.ejs') %>

