<%- include('layout/header.ejs') %>


        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users list</h2>
                <div>
                    <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <% if(locals.udata) { for(let i = 0 ; i < locals.udata.length ; i++) { %>
                            <tbody>
                                <tr>
                                    <td><%= locals.udata[i].fname  %> <%= locals.udata[i].lname  %></td>                                  </td>
                                    <td><%= locals.udata[i].email %></td>
                                    <% if(locals.udata[i].isBlocked === false) { %>
                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                    <% }else{ %>
                                        <td><span class="badge rounded-pill alert-success">Inctive</span></td>
                                    <% } %>
                                    <% if(locals.udata[i].isBlocked === false) { %>
                                        <td class="text-end">
                                            <button class="btn btn-sm btn-brand rounded font-sm mt-15 blockbtn"  data-uid="<%= locals.udata[i]._id %>">Block</button>
                                        </td>
                                    <% }else{ %>
                                        <td class="text-end">
                                            <button class="btn btn-sm btn-brand rounded font-sm mt-15 unblockbtn"  data-uid="<%= locals.udata[i]._id %>">Unblock</button>
                                        </td>   
                                    <% } %>
                                </tr>
                            </tbody>
                            <% }}else{ %>
                                <tr><td class="text-center">NO USERS FOUND</td></tr>
                            <% }%>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        
<%- include('layout/footer.ejs') %>

<script src="/public/js/viewusers.js"></script>