<%- include ('layout/header.ejs') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 offset-md-1" style="align-self: center;">
            <div class="login-register-wrap register-wrap">
                <br>
                <br>
                <h3><i class="fa fa-user-o"></i> Reset Password</h3>
                <br>
                <br>
                <form id="resetPass" action="/resetPassword" method="post">
                    <input type="hidden" id="id" name="id" value="<%= locals.id %>" >
        
                    <% if(locals.err) { %> 
                        <div class="error1 alert alert-danger w-75"><%= locals.err  %></div>
                        <% } %>
                    <br>
                    <div class="sin-login-register">
                        <label>New Password </label>
                        <input type="password" name="npassword" id="npassword">
                        <p class="error mb-2" id="newpass" style="display: none;"></p>
                        <% if(locals.err){ %>
                            <p class="text-danger"><%= locals.err %></p>
                        <% } %>
                    </div>
                    <br>
                    <div class="sin-login-register">
                        <label>Confirm New Password </label>
                        <input type="password" name="cpassword" id="cpassword">
                        <p class="error mb-2" id="confirmpass" style="display: none;"></p>
                    </div>
                    <br>
                    <div class="login-register-btn">
                        <button type="submit">Change Password</button>
                    </div>
                </form>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<script src="/public/js/resetpass.js"></script>

<%- include ('layout/footer.ejs') %>