<%- include ('layout/header.ejs') %>


<div class="checkout-main-area pt-100 pb-100">
    <div class="container">
        <div class="customer-zone mb-30">
            <!-- <p class="cart-page-title">Have a coupon? <a class="checkout-click" href="#">Click here to enter your code</a></p> -->
            <!-- <div class="checkout-login-info">
                <p>If you have a coupon code, please apply it below.</p>
                <form action="#">
                    <input type="text" placeholder="Coupon code">
                    <input type="submit" value="Apply Coupon">
                </form>
            </div> -->
        </div>
        <div class="checkout-wrap">
            <div class="row">
                <div class="col-lg-7">
                    <div class="billing-info-wrap mr-100">
                        <h3>Billing Details</h3>
                        <a href="/addAddress"><button class="btn" type="button">New Address</button></a>
                        <div class="row">
                            <% if(locals.addData && locals.addData.length > 0) { locals.addData.forEach((element,index) => { %>
                                <div class="card my-4">
                                    <div class="card-body p-0">
                                        <br>
                                        <div class="d-flex align-items-center">
                                            <input type="radio" class="addressradio form-check-input medium-radio p-0" name="address" value="<%=element._id %>" <% if(index === 0){ %> checked <% } %>>
                                        </div>
                                        <br>
                                        <div class="address">
                                            <h6>Name : <%= element.name %></h6>
                                            <p>Mobile : <%= element.mobile %></p>
                                            <p>StreetAddress : <%= element.streetAddress %></p>
                                            <p>Landmark : <%= element.landmark %></p>
                                            <p>District : <%= element.district %></p>
                                            <p>State : <%= element.state %></p>
                                            <p>Country : <%= element.country %></p>
                                            <p>Pincode : <%= element.pincode %></p>
                                        </div>
                                        <br>
                                        <div class="addaction">
                                            <a href="/editAddress?id=<%= element._id %>"><button class="btn" type="button">Edit Address</button></a>
                                            <a href="/removeAddress?id=<%= element._id %>"><button class="btn" type="button">Remove Address</button></a>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <% }); } else { %>
                                        <div class="card m-auto border-0 h-100 ">
                                          <div class="card-body h-100 d-flex justify-content-center align-items-center addresscard">
                                            <div class="card-title d-flex flex-column justify-content-center align-items-center ">
                                              <img src="/public/images/oops.png" alt="" width="300rem" height="300rem">
                                              <h2>No Address Added!!</h2>
                                            </div>
                                          </div>
                                        </div>
                                    
                                <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="your-order-area">
                        <h3>Your order</h3>
                        <div class="your-order-wrap gray-bg-4">
                            <div class="your-order-info-wrap">
                            <% if(locals.user){ %>
                                <div class="your-order-info">
                                    <ul>
                                        <li>Product <span>Total</span></li>
                                    </ul>
                                </div>
                                <div class="your-order-middle">
                                    <% for(let i=0; i< user.cart.length ; i++) {%>
                                        <% let total = user.cart[i].qty * user.cart[i].product_id.price %>
                                        <ul>
                                            <li><%= user.cart[i].product_id.productname %> X <%= user.cart[i].qty %> <span> Rs. <%= total %> </span></li>
                                        </ul>
                                     <% } %>
                                </div>
                                <% let grandtotal = 0%>
                                <% for(let i=0; i < user.cart.length ; i++) { 
                                    let subtotal = parseInt(user.cart[i].qty) * parseInt(user.cart[i].product_id.price)
                                    grandtotal += parseInt(subtotal)  } %>
                                <div class="your-order-info order-subtotal">
                                    <ul>
                                        <li>Total <span id="ordertotal">Rs. <%= grandtotal %> </span></li>
                                    </ul>
                                </div>
                                <!-- <div class="your-order-info order-total">
                                    <ul>
                                        <li>Total <span>£273.00 </span></li>
                                    </ul>
                                </div> -->
                            </div>
                            <% } %>
                        </div>
                        <div class="Place-order mt-30">
                            <div class="proceedbtn my-5 text-center " id="proceedbtn">
                                <a href="/payment"><button class="btn">Proceed To Payment</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/checkout.js"></script>

<%- include('layout/footer.ejs') %>