<%- include('layout/header.ejs') %>

        <div class="banner-area section-padding-1 pt-130">
            <div class="container-fluid">
                <div class="section-title-3 mb-70 text-center">
                    <h2>New Collections</h2>
                    <p>Vestibulum felis odio, imperdiet eget</p>
                </div>
                <div class="row">
                    <div class="product d-flex">
                        <% if(locals.product && locals.product.length > 0) { for(let i = 0 ; i < 4 ; i++) { %>
                    <div class="custom-col" >
                        <div class="banner-wrap default-overlay banner-zoom mb-30" style="height: 385px; width: 360px;">
                            <div class="banner-img" >
                                <a href="/productDetails?id=<%= locals.product[i]._id %>"><img src="/images/<%= locals.product[i].mainimage %>" alt="banner"></a>
                            </div>
                            <div class="banner-content-3">
                                <h3><a href="#"><%= locals.product[i].productname %></a></h3>
                            </div>
                        </div>
                    </div>
                <% }} %>
                </div>
            </div>
        </div>
        <div class="product-area pt-100 pb-130">
            <div class="container-fluid p-0">
                <div class="section-title-3 mb-70 text-center">
                    <h2>Featured Products</h2>
                </div>
            </div>
            <div class="product-slider-active-3 product-slider-padding-2">
                <% for(let i=0; i< locals.product.length; i++){ %>
                <div class="pro-all product-wrap-opacity">
                    <div class="product-wrap">
                        <div class="product-img default-overlay mb-40">
                            <a href="/productDetails?id=<%= locals.product[i]._id %>">
                                <img class="default-img" src="/images/<%= locals.product[i].mainimage %>" alt="">
                                <!-- <img class="hover-img" src="/images/<%= locals.product[i].image[0] %>" alt=""> -->
                            </a>
                            <div class="product-action product-action-position-1">
                                <a data-bs-toggle="modal" href="/productDetails?id=<%= locals.product[i]._id %>"><i class="fa fa-eye"></i><span>Quick Shop</span></a>
                                <a title="Add to Wishlist" href="#"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a>
                                <a class="icon-blod" title="Add to Compare" href="#"><i class="dlicon arrows-4_compare"></i><span>Add to Compare</span></a>
                                <a title="Add to Cart" href="#"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                            </div>
                        </div>
                        <div class="product-content-2 title-font-width-400 text-center">
                            <h3><a href="/productDetails?id=<%= locals.product[i]._id %>"><%= locals.product[i].productname %></a></h3>
                            <div class="product-price">
                                <span class="new-price">RS.<%= locals.product[i].price %> ></span>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>    
        </div>
        <div class="product-area pb-120 section-padding-1">
            <div class="container-fluid">
                <div class="product-tab-list-2 nav mb-65">
                    <a class="active" href="#product-6" data-bs-toggle="tab">
                        New arrival
                    </a>
                    <a href="#product-7" data-bs-toggle="tab">
                        Sale off
                    </a>
                    <a href="#product-8" data-bs-toggle="tab">
                        Best seller
                    </a>
                </div>
                <div class="tab-content jump">
                    <div id="product-6" class="tab-pane active">
                        <div class="row">
                            <% if(locals.product){ for(let i=0;i<  locals.product.length ;i++){ %>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="product-wrap mb-50">
                                    <div class="product-img default-overlay mb-25">
                                        <a href="/productDetails?id=<%= locals.product[i]._id %>">
                                            <img class="default-img" src="/images/<%= locals.product[i].mainimage %>" alt="">
                                            <!-- <img class="hover-img" src="/images/<%= locals.product[i].image[i] %>" alt=""> -->
                                        </a>
                                        <div class="product-action product-action-position-1">
                                            <a data-bs-toggle="modal" href="/productDetails?id=<%= locals.product[i]._id %>"><i class="fa fa-eye"></i><span>Quick Shop</span></a>
                                            <a title="Add to Wishlist" href="#"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a>
                                            <a class="icon-blod" title="Add to Compare" href="#"><i class="dlicon arrows-4_compare"></i><span>Add to Compare</span></a>
                                            <a title="Add to Cart" href="#"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                                        </div>
                                    </div>
                                    <div class="product-content-2 title-font-width-400 text-center">
                                        <h3><a href="/productDetails?id=<%= locals.product[i]._id %>"></a><%=locals.product[i].productname %></a></h3>
                                        <div class="product-price">
                                            <span class="new-price">RS.<%=locals.product[i].price %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }} %>
                        </div>
                        <div class="btn-style-1 text-center">
                            <a class="btn-border" href="/shop">
                                <div class="btn-viewmore-normal btn-ptb-1 btn-viewmore-bg-transparent btn-viewmore-common">
                                    <span>View all products</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('layout/footer.ejs') %>