<%- include ('layout/header.ejs') %>

<% if(locals.user) {%>
    <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-0">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <div class="breadcrumb-title">
                    <ul>
                        <li>
                            <a href="/">Home </a>
                        </li>
                        <li><span> &gt; </span></li>
                        <li class="active"> Orders </li>
                    </ul>
                    <br>
                    <h2>Orders</h2>
                    <br>
    
                    <br>
                </div>
            </div>
        </div>
    </div>
            <div class="my-account-area pb-95">
                <div class="container">
                    <div class="row flex-row-reverse">
                        <div class="col-lg-12">
                            <div class="myaccount-tab-menu nav" role="tablist">
                                <a href="/myAccount" >Change Password</a>
                                <a href="/orders" class="active"> Orders</a>
                                <a href="/wallet"> Wallet</a>
                                <a href="/addresses" >Address</a>
                                <a href="/logout"> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>



            <main>
                <div class="container">
                    <% if(locals.orderdata && locals.orderdata.length > 0) { locals.orderdata.forEach(element => { %>
                        <% if(element.products && element.products.length > 0) { element.products.forEach(el => { %>
                            <div class="d-flex justify-content-between align-items-center table-bordered">
                                <img src="/images/<%= el.product_id.mainimage %>" alt="" width="120px" height="120px">
                                <table class="table">
                                    <tr>
                                        <th>Date</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Payment</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td><%= element.date.toISOString().split('T')[0].split('-')[2] %>&nbsp;<%= element.date.toString().split(' ')[1] %>&nbsp;<%= element.date.toString().split(' ')[3] %>&nbsp;</td>
                                        <td><%= el.product_id.productname %></td>
                                        <td><%= el.qty %></td>
                                        <td>Rs.<%= el.price ? el.price : el.product_id.price %></td>
                                        <td><%= element.payment_method %></td>
                                        <td><% if(el.status === "Processing") { %>
                                            <span>Processing</span>
                                            <% } else if(el.status === "Delivered") { %>
                                            <span>Delivered</span>
                                            <% } else if(el.status === "Dispatched") { %> 
                                            <span>Dispatched</span>
                                            <% } else if(el.status === "Shipped") { %>
                                              <span>Shipped</span>
                                            <% } else if(el.status === "Cancelled") { %>
                                              <span>Cancelled</span>
                                            <% }else if(el.status === "Returned"){%>
                                              <span>Returned</span>
                                            <% }else if(el.status === "Refunded"){%>
                                              <span>Refunded</span>
                                            <% } %>                                              
                                        </td>
                                        <td class="text-center"> 
                                            <% if(element.payment_status === "Pending" && el.status != "Cancelled") { %>
                                                <button type="button" class="btn retrypayment" data-id="<%= element._id%>" data-orderid="<%= element.order_id %>" data-amount="<%=element.total_amount%>" data-udata="<%= locals.user %>">Retry Payment</button>
                                            <%  } %>  
                                            <% if(el.status === "Delivered") { %>
                                                <button type="button" class="btn returnbtn" data-orderid="<%= element._id %>" data-proid="<%= el.product_id._id %>">Return</button>
                                            <% } else if(el.status == "Cancelled" || el.status == "Returned" || el.status == "Refunded") { %>
                                                  No Action
                                            <% }else{ %>
                                                <button type="button" class="btn cancelorderbtn" data-orderid="<%= element._id %>" data-proid="<%= el.product_id._id %>">Cancel Order</button>
                                          <%  } %>  
                                        </td>
                                        <td><a class="btn" href="/ordersummary?id=<%=element._id%>">></a></td>
                                    </tr>
                                </table>
                            </div>
                        <% })}}) %>
                        <br>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="btn" href="?page=<%= currentPage - 1 %>"><</a>
                                </li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a class="btn" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="btn" href="?page=<%= currentPage + 1 %>">></a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
                    <% }else{ %>
                        <h2 class="d-flex justify-content-center align-items-center" >No orders</h2>
                        <br> <br><br>
                    <% }%>

                </div>
            </main>
<br>
<script src="/public/js/order.js"></script>
<br>
<%- include ('layout/footer.ejs') %>
