<%- include ('layout/header.ejs') %>

<style>

    .button {
        background-color: #d94545;
        color: white;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button:hover {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

</style>

<% if(locals.product){ %>
    <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-0">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Home </a>
                    </li>
                    <li><span> &gt; </span></li>
                    <li>
                        <a href="/shop">Shop </a>
                    </li>
                    <li><span> &gt; </span></li>
                    <li class="active"> <%= locals.product.productname %> </li>
                </ul>
            </div>
        </div>
    </div>
<div class="product-details-area section-padding-1 pb-90">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-details-tab">
                    <div class="product-dec-right pro-dec-big-img-slider">
                        <div class="easyzoom-style">
                            <div class="easyzoom easyzoom--overlay" data-zoom-factor="5">
                                <a href="/images/<%= locals.product.mainimage %>">
                                    <img src="/images/<%= locals.product.mainimage %>" alt="">
                                </a>
                            </div>
                            <a class="easyzoom-pop-up img-popup" href="/images/<%= locals.product.mainimage %>"><i class="dlicon ui-1_zoom-in "></i></a>
                        </div>
                        <% for(let i=0; i< locals.product.image.length ; i++) { %>
                        <div class="easyzoom-style">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="/images/<%= locals.product.image[i] %>">
                                    <img src="/images/<%= locals.product.image[i] %>" alt="">
                                </a>
                            </div>
                            <a class="easyzoom-pop-up img-popup" href="/images/<%= locals.product.image[i] %>"><i class="dlicon ui-1_zoom-in "></i></a>
                        </div>
                        <% } %>
                    </div>
                    <div class="product-dec-slider product-dec-left">
                        <div class="product-dec-small active">
                            <img src="/images/<%= locals.product.mainimage %>" alt="">
                        </div>
                        <% for(let i=0; i< locals.product.image.length ; i++) { %>
                        <div class="product-dec-small">
                            <img src="/images/<%= locals.product.image[i] %>" alt="">
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="product-details-col-90">
                        <div class="product-details-content p-dec-content-edit">
                            <div class="pro-dec-next-prev">
                                <a class="prev" href="#"><i class="dlicon arrows-1_tail-left"></i></a>
                                <a class="next" href="#"><i class="dlicon arrows-1_tail-right"></i></a>
                            </div>
                            <h2 class="uppercase"><%= locals.product.productname %></h2>
                            <div class="product-details-ratting-wrap">
                                <div class="product-details-ratting">
                                    <i class="yellow fa fa-star"></i>
                                    <i class="yellow fa fa-star"></i>
                                    <i class="yellow fa fa-star"></i>
                                    <i class="yellow fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="#"> (1 customer review)</a>
                            </div>
                            <h3>RS. <%= locals.product.price %></h3>
                            <div class="product-details-peragraph">
                                <p> <%= locals.product.description %> </p>
                            </div>
                            <div class="product-details-action-wrap">
                                <div class="product-details-quality">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" id="qty" value="1" readonly>
                                    </div>
                                </div>
                                <button class="button" id="addToCart">Add to Cart</button>
                                <div class="product-details-wishlist affiliate-res-xs">
                                    <a title="Add to wishlist" href="#"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="product-details-info">
                                <a href="#">Stock : <%= locals.product.stock %></a>
                                <a href="#"><i class="dlicon design_measure-17"></i>Size Guide</a>
                            </div>
                            <div class="product-details-meta">
                                <span>Category : <%= locals.product.category_id.categoryname %> </span>
                                <span>Brand : <%= locals.product.brand_id.brandname %>  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% } %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/easyzoom/2.5.0/easyzoom.min.js"></script>
<script>

    const easyzoom = new EasyZoom('#myEasyZoom', {
    });
        
    const instance = easyzoom.data('easyZoom');
    instance._options.zoomFactor = 5; 

</script>

<script>
    document.getElementById('qty').addEventListener('change', function() {
        var value = parseInt(this.value);
        if (isNaN(value) || value < 1) {
            this.value = 1;
        }
    });
</script>

<%- include ('layout/footer.ejs') %>