<%- include('layout/header.ejs') %>
<% if(locals.user){ %>

<div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-0">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <div class="breadcrumb-title">
                <ul>
                    <li>
                        <a href="/">Home </a>
                    </li>
                    <li><span> &gt; </span></li>
                    <li class="active"> My Account </li>
                </ul>

                <h2>My Account</h2>
                <br>
                <div class="container d-flex align-items-center ">
                    <div class="row">
                        <div class="col-lg-6 col-md-6" style="align-self: center;">
                            <div class="login-register-wrap register-wrap">
                                <h4>Email : <%= locals.user.email %> </h4>
                                <form action="/editprofile" method="post" id="profileChange">
                                    <label for="fname">First Name</label>
                                    <input type="text" name="fname" id="fname" value="<%= locals.user.fname %>">
                                    <p class="error mb-2" id="error4" style="display: none; color: red;"></p>
                                    <label for="lname">Last Name</label>
                                    <input type="text" name="lname" id="lname" value="<%= locals.user.lname %>">
                                    <p class="error mb-2" id="error5" style="display: none; color: red;"></p>
                                    <label for="mobile">Mobile</label>
                                    <input type="text" name="mobile" id="mobile" value="<%= locals.user.mobile %>">
                                    <p class="error mb-2" id="error6" style="display: none; color: red;"></p>
                                    <br><br>
                                    <button class="btn" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
            </div>
        </div>
    </div>
</div>
        <div class="my-account-area pb-95">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-12">
                        <div class="myaccount-tab-menu nav" role="tablist">
                            <a href="/myAccount" class="active">Change Password</a>
                            <a href="/orders" > Orders</a>
                            <a href="/wallet"> Wallet</a>
                            <a href="/addresses" >Address</a>
                            <a href="/logout"> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6" style="align-self: center;">
            <div class="login-register-wrap register-wrap">
                <form id="changePass" action="/myAccount/changePass" method="post">
                    <% if(locals.err) { %> 
                        <div class="error1 alert alert-danger w-75"><%= locals.err  %></div>
                    <% } %>
                    <div class="sin-login-register">
                        <label>Old Password </label>
                        <input type="password" name="password" id="password">
                        <p class="error mb-2" id="passerror" style="display: none; color: red;"></p>
                        <% if(locals.err){ %>
                            <p class="text-danger"><%= locals.err %></p>
                        <% } %>
                    </div>
                    <br>
                    <div class="sin-login-register">
                        <label>New Password </label>
                        <input type="password" name="npassword" id="npassword">
                        <p class="error mb-2" id="newpass" style="display: none; color: red;"></p>
                        <% if(locals.err){ %>
                            <p class="text-danger"><%= locals.err %></p>
                        <% } %>
                    </div>
                    <br>
                    <div class="sin-login-register">
                        <label>Confirm New Password </label>
                        <input type="password" name="cpassword" id="cpassword">
                        <p class="error mb-2" id="confirmpass" style="display: none; color: red;"></p>
                    </div>
                    <br>
                    <div class="login-register-btn">
                        <button type="submit">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% } %>

<br>

<script src="/public/js/changePass.js"></script>


        <%- include('layout/footer.ejs') %>