<%- include ('layout/header.ejs') %>

<div class="breadcrumb-area section-padding-1 bg-gray breadcrumb">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <div class="breadcrumb-title">
                <h2>Shop</h2>
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li><span> &gt; </span></li>
                <li class="active"><a href="/shop">shop</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="shop-area section-padding-1 pt-100 pb-100">
    <div class="container-fluid">
        <div class="shop-top-bar">
            <div class="shop-top-bar-left">
                <!-- <div class="shop-top-show">
                <span>Showing 1–12 of 39 results</span>
                </div>
                <div class="shop-page-list">
                    <ul>
                        <li>Show</li>
                        <li class="active"><a href="#">12</a></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#">30</a></li>
                    </ul>
                </div> -->
            </div>
            <div class="shop-top-bar-right">
                <div class="search-content-wrap main-search-active">
                    <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
                    <div class="search-content">
                        <p>Start typing and press Enter to search</p>
                        <form action="/shop" method="get" class="search-form" style="display: flex; align-items: center;">
                            <input type="text" name="search" id="search" placeholder="Search" style="flex: 1; padding: 10px; border-radius: 5px; border: 1px solid #ccc; font-size: 12px; width: 200px;">
                            <input type="hidden" name="filter" value="<%= locals.filter %>">
                            <input type="hidden" name="sort" value="<%= locals.sort %>">
                            <button id="searchButton" type="submit" style="padding: 10px; border-width: 0.5px; border-radius: 5px; font-size: 18px;"> <i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="shop-tab nav">
                    <a href="#shop-1" class="active" data-bs-toggle="tab"><i class="dlicon ui-2_grid-45"></i></a>
                    <a href="#shop-2" data-bs-toggle="tab"><i class="dlicon design_bullet-list-69"></i></a>
                </div>
                <div class="shop-filter ml-50">
                        <a class="shop-filter-active" href="#">Filters <i class="fa fa-angle-down angle-down"></i> <i class="fa fa-angle-up angle-up"></i></a>
                    </div>
                    <div class="shop-short-by ml-50">
                        <span>Sort by <i class="fa fa-angle-down angle-down"></i> <i class="fa fa-angle-up angle-up"></i></span>
                        <ul>
                            <li class="active"><a href="/shop?sort=Default">Default sorting</a></li> 
                            <li><a href="/shop?sort=Latest&search=<%= locals?.search %>&filter=<%=locals?.filter %>"> latest</a></li>
                            <li><a href="/shop?sort=AtoZ&search=<%= locals?.search %>&filter=<%=locals?.filter %>"> A to Z</a></li>
                            <li><a href="/shop?sort=ZtoA&search=<%= locals?.search %>&filter=<%=locals?.filter %>"> Z to A</a></li>
                            <li><a href="/shop?sort=Lowtohigh&search=<%= locals?.search %>&filter=<%=locals?.filter %>"> price: Low to high</a></li>
                            <li><a href="/shop?sort=Hightolow&search=<%= locals?.search %>&filter=<%=locals?.filter %>"> price: High to low</a></li>
                            <li><a href="#"> Rating</a></li> 
                        </ul>
                    </div>
            </div>
        </div>
        <div class="product-filter-wrapper">
            <div class="row">
                <!-- Product Filter -->
                <div class="col-md-3 col-sm-6 col-xs-12 mb-20">
                    <div class="product-filter">
                        <h5>Price</h5>
                        <div class="price-filter">
                            <ul>
                                <li><a href="#">₹1000.00 - ₹10000.00</a></li>
                                <li><a href="#">₹10000.00 - ₹50000.00</a></li>
                                <li><a href="#">₹50000.00 - ₹100000.00</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Product Filter -->
                <div class="col-md-3 col-sm-6 col-xs-12 mb-20">
                    <div class="product-filter">
                        <h5>Category</h5>
                        <div class="product-size">
                            <ul>
                                <% cdata.forEach(element => { %>
                                     <li><a href="shop?filter=<%= element._id %>&sort=<%= locals?.sort %>&search=<%= locals?.search %>"> <%= element.categoryname  %></a></li>
                                <% }); %>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Product Filter -->
                <div class="col-md-3 col-sm-6 col-xs-12 mb-20">
                    <div class="product-filter">
                        <h5>Brands</h5>
                        <div class="product-brands">
                            <ul>
                                <% bdata.forEach(element => { %>
                                    <li><a href="/shop?filter=<%= element._id %>&sort=<%= locals?.sort %>&search=<%= locals?.search %>"> <%= element.brandname  %></a></li>
                                <% }); %>
                                   
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if(locals.product) { %>
        <div class="tab-content jump-3 pt-30">
            <div id="shop-1" class="tab-pane active">
                <div class="row">
                    <% for(let i=0; i < locals.product.length; i++ ) { %> 
                    <div class="custom-col-5">
                        <div class="product-wrap mb-50">
                            <div class="product-img default-overlay mb-25">
                                <a href="/productDetails?id=<%= locals.product[i]._id %>">
                                    <img class="default-img" src="/images/<%= locals.product[i].mainimage %>" alt="">
                                </a>
                                <div class="product-action product-action-position-1">
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="/productDetails?id=<%= locals.product._id %>"><i class="fa fa-eye"></i><span>Quick Shop</span></a>
                                    <a title="Add to Wishlist" href="#"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a>
                                    <a class="icon-blod" title="Add to Compare" href="#"><i class="dlicon arrows-4_compare"></i><span>Add to Compare</span></a>
                                    <a title="Add to Cart" href="#"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                                </div>
                            </div>
                            <div class="product-content-2 title-font-width-400 text-center">
                                <h3><a href="product-details.html"><%= locals.product[i].productname %></a></h3>
                                <div class="product-price">
                                    <span class="new-price">RS . <%= locals.product[i].price %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            
            <div class="pro-pagination-style text-center">
                <ul>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#"><i class="dlicon arrows-1_tail-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% } %>

<%- include ('layout/footer.ejs') %>